.idea/
.idea/*
uploads/*

.gitignore
.elasticbeanstalk/
src/
nbproject/
typings/
/tsd.json
typings/*
*.ts
/*.env
.vscode/
docs
doc.js
*.map
tsconfig.json
temp.html
npm-debug.log


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

